@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lato', sans-serif;
    background-color: 	#fbfbfb;	
    color: #313131;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

.right-side__animation {
    animation: right-side .5s ease-in-out  1 normal forwards;
}


@keyframes right-side {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.entering__down {
    animation: enter 2s ease 0s 1 normal forwards;
}
@keyframes enter {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}